<div class="chat-list" [ngClass]="isUserAvailable ? 'activeStatus' : 'notAvailable'" #chatList>
    <div class="chatUserImg">
        <ng-container *ngIf="chatData['userImg'] !== '' && chatData['userImg'] !== undefined && chatData['userImg'] !== null">
          <img src="{{chatData['userImg']}}" alt="User Image" class="img-fluid">
        </ng-container>
    </div>
    <div class="chatUserContent">
        <h2 class="userName">{{chatData['userName']}}</h2>
        <p class="userDesignation">{{chatData['userDesignation']}}</p>
        <p class="userStatus">
          {{isUserAvailable ? 'Available Now' : offlineMsg}}
        </p>
    </div>
</div>
