<div id="chatSupport">
    <div class="chatIcon defaultIcon" [class.singleSupport]="chatQuantity === 'single'" #chatIcon [style.backgroundColor]="themeColor">
        <!-- <i class="fab fa-{{ (iconName) ? iconName : 'comment' }}"></i> -->
        <chat-icon [iconName]="iconName" [iconColor]="themeColor"></chat-icon>
    </div>

    <ng-container *ngIf="chatQuantity === 'single'">
        <div class="chatBox" #chatBox [class.showChatBox]="showChatBox">
            <ng-template chatBoxDD></ng-template>
            <!-- <chat-box [chatList]="chatList" [chatBoxType]="chatBoxType" [chatHeading]="chatHeading" [chatTagline]="chatTagline" [themeColor]="themeColor" (closeChatBox)="closeChatBox()"></chat-box> -->
        </div>
    </ng-container>

    <ng-container *ngIf="chatQuantity === 'multiple'">
        <div class="chatIconMenu" [class.showChatIcon]="showChatIcons">
          <ng-container *ngIf="showChatIcons">
            <ng-container *ngFor="let icon of chatIcons">
              <div (click)="openChatBoxIcon(icon.icon)">
                <chat-icon [iconName]="icon.icon" [iconColor]="icon.theme"></chat-icon>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="chatBox" #chatBox [class.showChatBox]="showChatBox">
          <ng-template chatBoxDD></ng-template>
          <!-- <chat-box [chatList]="chatList" [chatBoxType]="chatBoxType" [chatHeading]="chatHeading" [chatTagline]="chatTagline" [themeColor]="themeColor" (closeChatBox)="closeChatBox()"></chat-box> -->
        </div>
    </ng-container>
</div>
