<div class="closePopup">
    <a href="javascript:;" #closeChatBox>
      <svg id="Capa_1" enable-background="new 0 0 413.348 413.348" viewBox="0 0 413.348 413.348" xmlns="http://www.w3.org/2000/svg"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"/></svg>
    </a>
</div>
<ng-container *ngIf="isShowHeader">
    <div class="chatHeader" [style.backgroundColor]="themeColor" [ngClass]="{'chatHeader-whatsapp': (chatBoxType === 'whatsapp')}">
        <h2 class="chatHeading">{{chatHeading}}</h2>
        <p class="chatTagline">{{chatTagline}}</p>
    </div>
</ng-container>

<div class="chatBody">
    <div class="inner-chatBody">
        <ng-container *ngIf="chatList.length > 0">
            <ng-container *ngFor="let chatData of chatList">
                <chat-box-list [chatData]="chatData" [themeColor]="themeColor" (callChatSupport)="onChatSupport(chatBoxType, $event)"></chat-box-list>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="chatList.length === 0">
            <div class="no-chats-available">
              <h4>No chat(s) available</h4>
            </div>
        </ng-container>
    </div>
</div>
