.chatHeader{
    padding: 25px 15px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    &.chatHeader-whatsapp{
        background-color: #26c281;
        color: #ffffff;
    }
    .chatHeading{
        font-size: 16px;
        margin: 0 0 5px;
        line-height: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: currentColor;
    }
    .chatTagline{
        font-size: 12px;
        margin: 0;
        line-height: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: currentColor;
    }
}

.chatBody{
    position: relative;
    overflow-y: auto;
    max-height: 200px;
    padding: 10px;
    background-color: #ffffff;
    &::-webkit-scrollbar{
        width: 5px;
        background: transparent;
        opacity: 0.5;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: #222222;
        opacity: .5;
    }
}

.closePopup{
    position: absolute;
    top: 10px;
    right: 10px;
    a{
        color: #ffffff;
        width: 15px;
        height: 15px;
        display: inline-block;
        svg {
          fill: currentColor;
        }
    }
}
