.navbar {
  background-color: #dddddd;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .brand {
    a {
      padding: 5px 15px;
      display: block;
      color: #000000;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
      text-transform: uppercase;
    }
  }
  ul {
    display: flex;
    align-items: center;
    li {
      a {
        padding: 5px 15px;
        display: block;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
